<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ./partials/head %>
  <title>Home</title>
</head>
<body>
  <% if (req.session.userLogged == undefined) { %>
    <h2>Lista de difusión WhatsApp</h2>
    <form action="/login" method="GET">
      <button type="submit">Iniciar Sesión</button>
    </form>
    <form action="/register" method="GET">
      <button type="submit">Registrarse</button>
    </form>
  <% } else { %>
    <% if (req.session.userLogged.client == "") { %>
      <form action="/client/init" method="GET">
        <button type="submit">Link WhatsApp</button>
      </form>
    <% } else { %>
      <% if (clients[req.session.userLogged.id]) { %>
        <form action="/client/sendmessage" method="GET">
          <button type="submit">Send Message</button>
        </form>
      <% } else { %>
        <form action="/client/init" method="get">
          <button type="submit">Iniciar cliente WhatsApp</button>
        </form>
      <% } %>
    <% } %>
    <form action="/users/logout" method="POST">
      <button type="submit">Log out</button>
    </form>
  <% } %>
</body>
</html>
