<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>
  <% if (req.session.userLogged == undefined) { %>
    <form action="/login" method="GET">
      <button type="submit">Login</button>
    </form>
    <form action="/register" method="GET">
      <button type="submit">Register</button>
    </form>
  <% } else { %>
    <% if (req.session.userLogged.client == "") { %>
      <form action="/client/init" method="GET">
        <button type="submit">Link WhatsApp</button>
      </form>
    <% } else { %>
      <% if (clients[req.session.userLogged.id]) { %>
        <form action="/client/sendmessage" method="GET">
          <button type="submit">Send Message</button>
        </form>
      <% } else { %>
        <form action="/client/init" method="get">
          <button type="submit">Iniciar cliente WhatsApp</button>
        </form>
      <% } %>
    <% } %>
    <form action="/users/logout" method="POST">
      <button type="submit">Log out</button>
    </form>
  <% } %>
</body>
</html>
