<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Send Message</title>
</head>
<body>
    <a href="/">Home</a>
    <form action="/client/sendmessage" method="POST" enctype="multipart/form-data">
        <label for="xlsx-file">Elegí tu archivo excel</label>
        <br>
        <input type="file" name="file" required/>
        <br>
        <label for="img">Elegí una imagen para el mensaje (omitir si no desea agregar imagen)</label>
        <br>
        <input type="file" name="img"/>
        <br>
        <label for="msg">Escribí tu mensaje</label>
        <br>
        <textarea name="msg" required></textarea>
        <br>
        <button type="submit">Enviar</button>
    </form>
</body>
</html>