<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ./partials/head %>

    <title><%= totalMessages %> enviados</title>
</head>
<body>
    <h2>Cantidad de mensajes enviados: <%= totalMessages %></h2>
    <form action="/client/sendmessage" method="get">
        <button type="submit">Mandar denuevo</button>
    </form>
    <form action="/" method="get">
        <button type="submit">Home</button>
    </form>
</body>
</html>